[Unit]
Description=Defensa de archivos sensibles.
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/monitor_defense/defense_system.py
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
