[Unit]
Description=Monitor de accesos a archivo sensible
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/monitor_archivo/monitor_tarjetas.py
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
